// setting our custom color theme 
$primary: #7D82B8;
$secondary: #C4FFB2;
$success: #3E8914;
$danger: #E94220;
$warning: #F78154; 
$info: #5762D5; 
$light: #D9D9D9;
$dark: #2C2C2C;
$white: #FAFAFA;

// Global font settings
$font-family-sans-serif: 'Montserrat', sans-serif;



// Custom buttons 
.btn{
    text-transform: uppercase !important;
}

.btn-secondary{
    border: 1px solid #2C2C2C !important; 
}

// Import the Bootstrap source SCSS file
@import 'node_modules/bootstrap/scss/bootstrap.scss';