#sidebar {
    background-color: #F5F5F5;
    border: 1px solid hsl(0deg 0% 0% / 10%);
    padding: 1.5em;

}

.guidelines-container{
    border: 1.5px solid #b1adad;
    padding: 1em;
}

.mission-container{
    margin-top: 3em;
    border: 1.5px solid #b1adad;
    padding: 1em;
    background-color: #C4FFB2 !important;
}
