#sidebar {
    background-color: #F5F5F5;
    border: 1px solid hsla(0, 0%, 0%, .1);
    padding: 2em 2em 2em 2em;
    ;

}

.guidelines-container{
    border: 1.5px solid #b1adad;
    padding: 1em 1em 1em 1em;
}

.btn{
    margin-left: 20%;
}

.mission-container{
    margin-top: 3em;
    border: 1.5px solid #b1adad;
    padding: 1em 1em 1em 1em;
}

.space-between-sections{
    height: 2em
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif;
  }
  



