#sidebar {
    background-color: #F5F5F5;
    border: 1px solid hsla(0, 0%, 0%, .1);
    padding: 2em 2em 2em 2em;
    ;

}

.guidelines-container{
    border: 1.5px solid #b1adad;
    padding: 1em 1em 1em 1em;
}

.btn{
    margin-left: 10%;
}

.mission-container{
    margin-top: 3em;
    border: 1.5px solid #b1adad;
    padding: 1em 1em 1em 1em;
    background-color: #C4FFB2 !important;
}

.space-between-sections{
    height: 2em
}

.guidelines-title {
    color: #000;
    font-size: 17.7px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.mission-title {
    color: #000;
    font-size: 17.7px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.custom-text {
    color: #000;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
  



