body{
  margin-bottom: 5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  transition: 0.3s;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.03);
}

img {
  border-radius: 5px 5px 0 0;
}

.bg-grey {
  background-color: #efefef;
}

input::file-selector-button {
  background-color: #7D82B8 !important;
}

#sign-in-main{
  background-color: #F5F5F5;
}

.title-text{
  font-family: 'Codec Pro', sans-serif;
  font-weight: bold;
  font-size: 3rem;                                    
}

.subtitle-text{
  letter-spacing: .2rem;
}